
  
  .card{
    border:none;
    font-family: Poppins, sans-serif;

  
  }
  .flip-card {
    background-color: transparent;
    width: 250px;
    height: 250px;
    border: 5px solid white;
    /* perspective: 1000px; */
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #f3ab11;
    color: white;
    transform: rotateY(180deg);
  }

  /* //Python  */

  .flip-card1 {
    background-color: transparent;
    width: 250px;
    height: 250px;
    perspective: 1000px;
    border: 5px solid white
  }
  
  .flip-card-inner1 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card1:hover .flip-card-inner1 {
    transform: rotateY(180deg);
  }
  
  .flip-card-front1, .flip-card-back1 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front1 {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back1 {
    background-color: #FF8400;
    color: white;
    transform: rotateY(180deg);
  }

  .skillspara{
    text-align: center;
    /* padding: 160px 0; */
    padding-top: 110px;
    font-family: Poppins, sans-serif;
    font-weight: 530;
    letter-spacing: 1.5px;
  
  }

  

  /* //Skils */
  
       

@keyframes sway {
  0% {
    transform: rotate(0);
    animation-timing-function: ease-in-out;
  }
  10% {
    transform: rotate(-12deg);
    animation-timing-function: ease-in-out;
  }
  30% {
    transform: rotate(8deg);
    animation-timing-function: ease-in-out;
  }
  45% {
    transform: rotate(-4deg);
    animation-timing-function: ease-in-out;
  }
  60% {
    transform: rotate(2deg);
    animation-timing-function: ease-in-out;
  }
  70% {
    transform: rotate(-0.1deg);
    animation-timing-function: ease-in-out;
  }
  75% {
    transform: rotate(0.05deg);
    animation-timing-function: ease-in-out;
  }
  80% {
    transform: rotate(0);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: rotate(0);
  }
}
.example {
  position: relative;
  display: inline-block;
  text-align: center;
  font-family:'Poppins', sans-serif; 
  line-height: 1;
  color:rgb(255, 53, 86);
  font-weight: bold;
  
  font-size: 3.5rem;
  padding: 32px 32px;
  margin: 64px 0;
  animation: sway 5s linear infinite;
  transform-origin: 50% -32px;
  background: linear-gradient(to right, #FF8400  0%, #FF8400 100%), 
  linear-gradient(to right, #FF8400 0%, hsl(36, 95%, 49%) 100%), 
  linear-gradient(to right, #FF8400 0%, hsl(41, 94%, 54%) 100%),
   linear-gradient(to right, #292728 0%, #363334 100%), 
   radial-gradient(circle at 100% 100%, hwb(36 1% 1%) 0%, #FF8400 44%, #fff 46%, #fff 55%, #FF8400 57%, #FF8400 70%, transparent 72%, transparent 100%), 
   radial-gradient(circle at 0 100%, #FF8400 0%, #FF8400 44%, #fff 46%, #fff 55%, #FF8400 57%, #FF8400 70%, transparent 72%, transparent 100%), radial-gradient(circle at 0 0, #FF8400 0%, #FF8400 44%, #fff 46%, #fff 55%, #FF8400 57%, #FF8400 70%, transparent 72%, transparent 100%),
   radial-gradient(circle at 100% 0, #FF8400 0%, #FF8400 44%, #fff 46%, #fff 55%, #FF8400 57%, #FF8400 70%, transparent 72%, transparent 100%), linear-gradient(to top, #FF8400 0%, #FF8400 63%, #fff 65%, #fff 78%, #FF8400 80%, #FF8400 100%), linear-gradient(to bottom, #FF8400 0%, #FF8400 63%, #fff 65%, #fff 78%, #FF8400 80%, #FF8400 100%),

    linear-gradient(to left, #FF8400 0%, #FF8400 63%, #fff 65%, #fff 78%, #FF8400 80%, #FF8400 100%), linear-gradient(to left, #FF8400 0%, #FF8400 63%, #fff 65%, #fff 78%, #FF8400 80%, #FF8400 100%),
     linear-gradient(to right, #FF8400 0%,#FF8400, #fff 65%, #fff 78%,#FF8400,#FF8400),
      linear-gradient(to right,#FF8400,#FF8400, #fff 65%, #fff 78%,#FF8400,#FF8400), 
      
    radial-gradient(circle at 0 50%, transparent 0%, transparent 30%,#f1e203, #fff 44%, #fff 48%, #f1e203 50%,#f1e203 100%), radial-gradient(circle at 100% 50%, transparent 0%, transparent 30%,#f1e203,#f1e203 42%, #fff 44%, #fff 48%,#f1e203 50%,#f1e203 100%),
     /* Backgroundcolor */
    linear-gradient(to right,#f1e203 0%,#f1e203 100%); 
  background-size: 3px 3px, 3px 3px, 3px 3px, 3px 3px, 16px 16px, 16px 16px, 16px 16px, 16px 16px, calc(100% - 32px + 4px) 16px, calc(100% - 32px + 4px) 16px, 16px calc(50% - 32px), 16px calc(50% - 32px), 16px calc(50% - 32px), 16px calc(50% - 32px), 32px 32px, 32px 32px, calc(100% - 32px + 4px) calc(100% - 32px);
  background-position: 0 calc(50% - 16px), 100% calc(50% - 16px), 0 calc(50% + 16px), 100% calc(50% + 16px), 0 0, 100% 0, 100% 100%, 0 100%, calc(16px - 1px) 0, calc(16px - 1px) 100%, 0 16px, 0 calc(100% - 16px), 100% 16px, 100% calc(100% - 16px), 0 50%, 100% 50%, calc(16px - 1px) 16px;
  background-repeat: no-repeat;
}
.example::before {
  content: '';
  height: 2px;
  width: 51%;
  position: absolute;
  top: -16px;
  left: 0;
  z-index: -1;
  transform: rotate(-15deg);
  background: linear-gradient(to right, transparent 0%, transparent 13%,#0a0a0a 15%, #0e0d0d 17%, #161616 100%);
}
.example::after {
  content: '';
  height: 2px;
  width: 51%;
  position: absolute;
  top: -16px;
  right: 0;
  z-index: -1;
  transform: rotate(15deg);
  background: linear-gradient(to left, transparent 0%, transparent 13%,  15%, #0a0a0a 17%, #0c0c0c 100%);
}


